[Unit]
Description=shpool session daemon
Requires=shpool.socket

[Service]
Type=simple
ExecStart=@SHPOOL@ daemon
KillMode=mixed
TimeoutStopSec=2s
SendSIGHUP=yes

[Install]
WantedBy=default.target
